/*Desktop*/
@media screen and (min-width: 1920px){
    /*Home Page Start*/
    .hero-section .home--sweet-card{
        height: 100%;
        overflow: hidden;
    }
    .hero-section .home--sweet-card img{
        height: 100%;
        width: 100%;
        object-fit: fill;
    }
    /*Home Page End*/
}

/*Desktop*/
@media screen and (max-width: 1920px){
    /*Home Page Start*/
    .hero-section .home--sweet-card{
        height: 100%;
        overflow: hidden;
    }
    .hero-section .home--sweet-card img{
        height: 100%;
        width: 100%;
        object-fit: fill;
    }
    /*Home Page End*/
}

/*Desktop*/
@media screen and (max-width: 1800px){
    /*Home Page Start*/
    .hero-section .home--sweet-card{
        height: 100%;
        overflow: hidden;
    }
    .hero-section .home--sweet-card img{
        height: 100%;
        width: 100%;
        object-fit: fill;
    }
    /*Home Page End*/
}

/*Desktop*/
@media screen and (max-width: 1600px){
    /*Top-Header Start*/
    .top-message-mobile{
        display: none;
    }

    .top-message,
    .top-message * {
        box-sizing: border-box;
    }
    .top-message {
        background: linear-gradient(
            90deg,
            rgba(253, 147, 37, 1) 50%,
            rgba(255, 45, 32, 1) 100%
        );
        height: 40px;
        position: relative;
        overflow: hidden;
    }
    .whats-app {
        color: #ffffff;
        text-align: left;
        font-size: 14px;
        font-weight: 500;
        position: absolute;
        left: 50%;
        translate: -50% -50%;
        top: 50%;
    }

    /*Top-Header End*/

    /*Home Page Start*/
    .special-sweet-card .sweet-image{
        height: 300px;
        width: 100%;
        overflow: hidden;
    }
    .special-sweet-card .sweet-image img{
        height: 100%;
        width: 100%;
        object-fit: fill;
    }

    .hero-section .home--sweet-card{
        height: 100%;
        overflow: hidden;
    }
    .hero-section .home--sweet-card img{
        height: 100%;
        width: 100%;
        object-fit: fill;
    }
    /*Home Page End*/
}

/*Laptop*/
@media screen and (max-width: 1440px){

    /*Top-Header Start*/
    .top-message-mobile{
        display: none;
    }

    .top-message,
    .top-message * {
        box-sizing: border-box;
    }
    .top-message {
        background: linear-gradient(
            90deg,
            rgba(253, 147, 37, 1) 50%,
            rgba(255, 45, 32, 1) 100%
        );
        height: 35px;
        position: relative;
        overflow: hidden;
    }
    .whats-app {
        color: #ffffff;
        text-align: left;
        font-size: 12px;
        font-weight: 500;
        position: absolute;
        left: 50%;
        translate: -50% -50%;
        top: 50%;
    }

    /*Top-Header End*/

    /*Home Page Start*/
    .special-sweet-card .sweet-image{
        height: 300px;
        width: 100%;
        overflow: hidden;
    }
    .special-sweet-card .sweet-image img{
        height: 100%;
        width: 100%;
        object-fit: fill;
    }

    .hero-section .home--sweet-card{
        height: 100%;
        overflow: hidden;
    }
    .hero-section .home--sweet-card img{
        height: 100%;
        width: 100%;
        object-fit: fill;
    }
    /*Home Page End*/
}

/*Laptop*/
@media screen and (max-width: 1200px){

    /*Top-Header Start*/
    .top-message-mobile{
        display: none;
    }

    .top-message,
    .top-message * {
        box-sizing: border-box;
    }
    .top-message {
        background: linear-gradient(
            90deg,
            rgba(253, 147, 37, 1) 50%,
            rgba(255, 45, 32, 1) 100%
        );
        height: 32px;
        position: relative;
        overflow: hidden;
    }
    .whats-app {
        color: #ffffff;
        text-align: left;
        font-size: 11px;
        font-weight: 500;
        position: absolute;
        left: 50%;
        translate: -50% -50%;
        top: 50%;
    }

    /*Top-Header End*/

    /*Home Page Start*/
    .special-sweet-card .sweet-image{
        height: 230px;
        width: 100%;
        overflow: hidden;
    }
    .special-sweet-card .sweet-image img{
        height: 100%;
        width: 100%;
        object-fit: fill;
    }
    .sweet-card-bottom{
        flex-direction: column;
    }
    .sweet-card-bottom a{
        margin: 0 0 10px 0;
    }

    .hero-section .home--sweet-card h5{
        font-size: 16px;
    }
    .hero-section .home--sweet-card p{
        font-size: 12px;
        line-height: 16px;
    }
    .hero-section .home--sweet-card{
        height: 100%;
        overflow: hidden;
    }
    .hero-section .home--sweet-card img{
        height: 100%;
        width: 100%;
        object-fit: fill;
    }
    /*Home Page End*/

    /*Cart Page Start*/
    .cart-page .sweet-name{
        font-weight: 700;
        font-size: 24px;
        text-decoration: none;
        color: var(--dark-black);
    }
    .cart-page .cart-wight{
        font-size: 16px;
        font-weight: 500;
    }
    .cart-page .cart-price{
        font-size: 16px;
        font-weight: 500;
        margin: 0;
    }
    .cart-page .cart-price .discount-price{
        font-size: 14px;
        font-weight: 500;
        color: var(--red);
    }
    .cart-page .single-cart-total-price{
        font-size: 16px;
        font-weight: 500;
    }
    .cart-img{
        height: 90px;
        width: 90px;
        border-radius: 8px;
        margin: auto;
    }
    .cart-img img{
        height: 100%;
        width: 100%;
        object-fit: contain;
        border-radius: 8px;
    }
    /*Cart Page End*/

    /*Checkout Page Start*/
    .checkout-page .sweet-name{
        font-weight: 500;
        font-size: 16px;
        text-decoration: none;
        color: var(--dark-black);
    }
    .checkout-page .cart-wight{
        font-size: 16px;
        font-weight: 500;
    }
    .checkout-page .cart-price{
        font-size: 12px;
        font-weight: 500;
    }
    .checkout-page .cart-price .discount-price{
        font-size: 12px;
        font-weight: 500;
        color: var(--red);
    }
    .checkout-page .cart-img{
        height: 65px;
        width: 65px;
        border-radius: 8px;
        margin: auto;
    }
    .checkout-page .cart-img img{
        height: 100%;
        width: 100%;
        object-fit: contain;
        border-radius: 8px;
    }

    /*Checkout Page End*/

}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    /*Top-Header Start*/
    .top-message-mobile{
        display: none;
    }

    .top-message,
    .top-message * {
        box-sizing: border-box;
    }
    .top-message {
        background: linear-gradient(
            90deg,
            rgba(253, 147, 37, 1) 50%,
            rgba(255, 45, 32, 1) 100%
        );
        height: 30px;
        position: relative;
        overflow: hidden;
    }
    .whats-app {
        color: #ffffff;
        text-align: left;
        font-size: 10px;
        font-weight: 500;
        position: absolute;
        left: 50%;
        translate: -50% -50%;
        top: 50%;
    }

    /*Top-Header End*/

    /*Home Page Start*/
    .special-sweet-card .sweet-image{
        height: 230px;
        width: 100%;
        overflow: hidden;
    }
    .special-sweet-card .sweet-image img{
        height: 100%;
        width: 100%;
        object-fit: fill;
    }
    /*Home Page End*/

    /*Checkout Page Start*/
    .checkout-cart-sweets{
        width: 65% !important;
        padding-right: 5px;
    }
    /*Checkout Page End*/
}

/*Tab*/
@media screen and (max-width: 992px){
    /*Top-Header Start*/
    .top-message{
        display: none;
    }
    .top-message-mobile{
        display: block;
    }

    .top-message-mobile,
    .top-message-mobile * {
        box-sizing: border-box;
    }
    .top-message-mobile {
        background: linear-gradient(
            90deg,
            rgba(253, 147, 37, 1) 50%,
            rgba(255, 45, 32, 1) 100%
        );
        height: 40px;
        position: relative;
        overflow: hidden;
    }
    .whats-app {
        color: #ffffff;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        position: absolute;
        left: 50%;
        translate: -50% -50%;
        top: 50%;
    }

    /*Top-Header End*/

    /*Home Page Start*/

    .special-sweet-card .sweet-image{
        height: 200px;
        width: 100%;
        overflow: hidden;
    }
    .special-sweet-card .sweet-image img{
        height: 100%;
        width: 100%;
        object-fit: fill;
    }

    .special-sweet-card h5{
        font-size: 16px;
    }
    .special-sweet-card p{
        font-size: 12px;
    }
    .special-sweet-card a{
        font-size: 12px;
    }

    .hero-section .home--sweet-card h5{
        font-size: 16px;
    }
    .hero-section .home--sweet-card p{
        font-size: 11px;
        line-height: 14px;
    }
    .hero-section .home--sweet-card{
        height: 100%;
        overflow: hidden;
    }
    .hero-section .home--sweet-card img{
        height: 100%;
        width: 100%;
        object-fit: fill;
    }
    /*Home Page End*/

    /*Contact Page Start*/
    .contact-page-section .container{
        width: 80%;
    }
    .contact-page-section .form-container{
        flex-direction: column;
    }
    .contact-page-section .form-container .left-inner-container{
        text-align: center;
    }
    .contact-page-section .form-container .left-inner-container .contact-infos{
        padding: 10px 0 20px 0;
        text-align: center;
    }
    /*Contact Page End*/

    /*Cart Page Start*/
    .cart-page .sweet-name{
        font-weight: 700;
        font-size: 24px;
        text-decoration: none;
        color: var(--dark-black);
    }
    .cart-page .cart-wight{
        font-size: 16px;
        font-weight: 500;
    }
    .cart-page .cart-price{
        font-size: 16px;
        font-weight: 500;
        margin: 0;
    }
    .cart-page .cart-price .discount-price{
        font-size: 14px;
        font-weight: 500;
        color: var(--red);
    }
    .cart-page .single-cart-total-price{
        font-size: 16px;
        font-weight: 500;
    }
    .cart-img{
        height: 90px;
        width: 90px;
        border-radius: 8px;
        margin: auto;
    }
    .cart-img img{
        height: 100%;
        width: 100%;
        object-fit: contain;
        border-radius: 8px;
    }
    /*Cart Page End*/

    /*Checkout Page Start*/

    .checkout-page .sweet-name{
        font-weight: 500;
        font-size: 16px;
        text-decoration: none;
        color: var(--dark-black);
    }
    .checkout-page .cart-wight{
        font-size: 16px;
        font-weight: 500;
    }
    .checkout-page .cart-price{
        font-size: 12px;
        font-weight: 500;
    }
    .checkout-page .cart-price .discount-price{
        font-size: 12px;
        font-weight: 500;
        color: var(--red);
    }
    .checkout-page .cart-img{
        height: 65px;
        width: 65px;
        border-radius: 8px;
        margin: auto;
    }
    .checkout-page .cart-img img{
        height: 100%;
        width: 100%;
        object-fit: contain;
        border-radius: 8px;
    }

    /*Checkout Page End*/

}

/*Tab*/
@media screen and (max-width: 768px){
    /*Top-Header Start*/
    .top-message{
        display: none;
    }
    .top-message-mobile{
        display: block;
    }

    .top-message-mobile,
    .top-message-mobile * {
        box-sizing: border-box;
    }
    .top-message-mobile {
        background: linear-gradient(
            90deg,
            rgba(253, 147, 37, 1) 50%,
            rgba(255, 45, 32, 1) 100%
        );
        height: 40px;
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    .whats-app {
        width: 100%;
        color: #ffffff;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        position: absolute;
        left: 50%;
        translate: -50% -50%;
        top: 50%;
    }

    /*Top-Header End*/

    /*Hero Banner Section Start*/

    .special-sweet-card .sweet-image{
        height: 270px;
        width: 100%;
        overflow: hidden;
    }
    .special-sweet-card .sweet-image img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .sweet-card-bottom{
        flex-direction: column;
    }
    .sweet-card-bottom a{
        margin: 0 0 10px 0;
    }

    .hero-section .home--sweet-card h5{
        font-size: 18px;
    }
    .hero-section .home--sweet-card p{
        font-size: 12px;
    }
    .hero-section .home--sweet-card{
        height: 100%;
        overflow: hidden;
    }
    .hero-section .home--sweet-card img{
        height: 100%;
        width: 100%;
        object-fit: fill;
    }

    .row-three-btn{
        text-align: center;
        margin: 20px 0 40px 0;
    }
    .row-fou-div{
        text-align: center;
        padding: 10px 20px;
    }
    .hero-header-div{
        line-height: 40px;
    }
    .hero-header{
        font-size: 36px!important;
        font-weight: 700;
        padding: 10px 20px 5px 20px;
        margin: 0;
        text-align: center;
    }
    .hero-text{
        padding: 15px 0;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        line-height: 25px;
    }
    .order-now-btn-div{
        text-align: center;
    }
    .hero-left{
        padding-top: 20px;
    }
    .order-1{
        order: 2 !important;
    }
    .order-2{
        order: 1 !important;
    }
    .order-3{
        order: 2 !important;
    }
    .order-4{
        order: 1 !important;
    }
    .order-5{
        order: 2 !important;
    }
    .order-6{
        order: 1 !important;
    }
    .sweet-list-text{
        text-align: center;
        font-size: 16px;
        font-weight: 400;
    }
    .special-sweet-card{
        /*margin: 15px;*/
    }
    .row-three-div{
        margin-top: -75px !important;
    }
    .row-six-text{
        padding: 30px 5px 0 5px ;
    }
    .row-six-text-header{
        font-size: 28px;
        text-align: center;
        line-height: 36px;
    }
    .row-six-text-body{
        font-size: 16px;
        text-align: justify !important;
    }
    .row-six-btn{
        text-align: center;
    }
    /*Hero Banner Section End*/

    /*product detail page start*/
    .cart-btn{
        width: 100%;
        color: white;
        font-weight: 600;
    }
    .cart-btn:hover{
        width: 100%;
        color: white;
        font-weight: 600;
    }

    .reviews{
        margin: 0 3px;
    }

    /*product detail page end*/

    /*Footer Start*/
    .footer-social-icon{
        justify-content: center;
    }
    .footer-logo{
        margin: 20px auto;
        display: flex;
        height: 60px;
    }
    /*Footer End*/
}

/*Mobile*/
@media screen and (max-width: 576px){

    /*Top-Header Start*/
    .top-message{
        display: none;
    }
    .top-message-mobile{
        display: block;
    }

    .top-message-mobile,
    .top-message-mobile * {
        box-sizing: border-box;
    }
    .top-message-mobile {
        background: linear-gradient(
            90deg,
            rgba(253, 147, 37, 1) 50%,
            rgba(255, 45, 32, 1) 100%
        );
        height: 40px;
        position: relative;
        overflow: hidden;
    }
    .whats-app {
        width: 100%;
        color: #ffffff;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        position: absolute;
        left: 50%;
        translate: -50% -50%;
        top: 50%;
    }

    /*Top-Header End*/

    /*Home Page Start*/

    .special-sweet-card .sweet-image{
        height: 260px;
        width: 100%;
        overflow: hidden;
    }
    .special-sweet-card .sweet-image img{
        height: 100%;
        width: 100%;
        object-fit: fill;
    }

    .sweet-card-bottom{
        flex-direction: column;
    }
    .sweet-card-bottom a{
        margin: 0 0 10px 0;
    }

    .hero-section .home--sweet-card h5{
        font-size: 18px;
    }
    .hero-section .home--sweet-card p{
        font-size: 12px;
    }
    .hero-section .home--sweet-card{
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    .hero-section .home--sweet-card img{
        height: 100%;
        width: 100%;
        object-fit: fill;
    }
    /*Home Page End*/

    /*Contact Page Start*/
    .contact-page-section{
        padding: 50px 5px;
    }
    .contact-page-section .container{
        width: 90%;
        padding: 50px 10px;
    }
    .contact-page-section .sm-view {
        display:none;
    }
    /*Contact Page End*/

    /*product detail page start*/
    .cart-btn{
        width: 100%;
        color: white;
        font-weight: 600;
    }
    .cart-btn:hover{
        width: 100%;
        color: white;
        font-weight: 600;
    }
    /*product detail page end*/

    /*Cart Page Start*/
    .cart-page .sweet-name{
        font-weight: 700;
        font-size: 18px;
        text-decoration: none;
        color: var(--dark-black);
    }
    .cart-page .cart-wight{
        font-size: 12px;
        font-weight: 500;
    }
    .cart-page .cart-price{
        font-size: 12px;
        font-weight: 500;
        margin: 0;
    }
    .cart-page .cart-price .discount-price{
        font-size: 11px;
        font-weight: 500;
        color: var(--red);
    }
    .cart-page .single-cart-total-price{
        font-size: 12px;
        font-weight: 500;
    }
    .cart-img{
        height: 80px;
        width: 80px;
        border-radius: 8px;
        margin: auto;
    }
    .cart-img img{
        height: 100%;
        width: 100%;
        object-fit: contain;
        border-radius: 8px;
    }
    /*Cart Page End*/

}

/*Mobile*/
@media screen and (max-width: 425px){

    /*Top-Header Start*/
    .top-message{
        display: none;
    }
    .top-message-mobile{
        display: block;
    }

    .top-message-mobile,
    .top-message-mobile * {
        box-sizing: border-box;
    }
    .top-message-mobile {
        background: linear-gradient(
            90deg,
            rgba(253, 147, 37, 1) 50%,
            rgba(255, 45, 32, 1) 100%
        );
        height: 40px;
        position: relative;
        overflow: hidden;
    }
    .whats-app {
        width: 100%;
        color: #ffffff;
        text-align: center;
        font-size: 11px;
        font-weight: 500;
        position: absolute;
        left: 50%;
        translate: -50% -50%;
        top: 50%;
    }

    /*Top-Header End*/

    /*Home Page Start*/
    .special-sweet-card .sweet-image{
        height: 200px;
        width: 100%;
        overflow: hidden;
    }
    .special-sweet-card .sweet-image img{
        height: 100%;
        width: 100%;
        object-fit: fill;
    }

    .sweet-card-bottom{
        flex-direction: column;
    }
    .sweet-card-bottom a{
        margin: 0 0 10px 0;
    }

    .hero-section .home--sweet-card h5{
        font-size: 18px;
    }
    .hero-section .home--sweet-card p{
        font-size: 12px;
    }
    .hero-section .home--sweet-card{
        height: 320px;
        width: 100%;
        overflow: hidden;
    }
    .hero-section .home--sweet-card img{
        height: 100%;
        width: 100%;
        object-fit: fill;
    }
    /*Home Page End*/

    /*Contact Page Start*/
    .contact-page-section{
        padding: 50px 5px;
    }
    .contact-page-section .container{
        width: 90%;
        padding: 50px 10px;
    }
    .contact-page-section .left-container{
        display: none;
    }
    .contact-page-section .lg-view {
        display:none;
    }
    /*Contact Page End*/

    /*Cart Page Start*/
    .cart-page .sweet-name{
        font-weight: 500;
        font-size: 16px;
        text-decoration: none;
        color: var(--dark-black);
    }
    .cart-page .cart-wight{
        font-size: 12px;
        font-weight: 500;
    }
    .cart-page .cart-price{
        font-size: 12px;
        font-weight: 500;
        margin: 0;
    }
    .cart-page .cart-price .discount-price{
        font-size: 11px;
        font-weight: 500;
        color: var(--red);
    }
    .cart-page .single-cart-total-price{
        font-size: 12px;
        font-weight: 500;
    }
    .cart-img{
        height: 70px;
        width: 70px;
        border-radius: 8px;
        margin: auto;
    }
    .cart-img img{
        height: 100%;
        width: 100%;
        object-fit: contain;
        border-radius: 8px;
    }
    /*Cart Page End*/
}

/*Mobile*/
@media screen and (max-width: 320px){
    /*Top-Header Start*/
    .top-message{
        display: none;
    }
    .top-message-mobile{
        display: block;
    }

    .top-message-mobile,
    .top-message-mobile * {
        box-sizing: border-box;
    }
    .top-message-mobile {
        background: linear-gradient(
            90deg,
            rgba(253, 147, 37, 1) 50%,
            rgba(255, 45, 32, 1) 100%
        );
        height: 40px;
        position: relative;
        overflow: hidden;
    }
    .whats-app {
        width: 100%;
        color: #ffffff;
        text-align: center;
        font-size: 10px;
        font-weight: 500;
        position: absolute;
        left: 50%;
        translate: -50% -50%;
        top: 50%;
    }

    /*Top-Header End*/

    /*Home Page Start*/
    .special-sweet-card .sweet-image{
        height: 160px;
        width: 100%;
        overflow: hidden;
    }
    .special-sweet-card .sweet-image img{
        height: 100%;
        width: 100%;
        object-fit: fill;
    }

    .order-now-btn {
        display: block; /* Ensures it behaves like a block element */
        border-radius: 5px;
        color: white;
        background: linear-gradient(to right, #FD9325, #EE3441);
        text-decoration: none;
        width: calc(100% - 20px); /* Full width minus the 10px gap on each side */
        margin: 0 10px 0 10px; /* Center horizontally and add 10px gap on top and bottom */
        padding: 8px 35px; /* Adjust padding for better appearance */
        text-align: center; /* Center text */
        font-size: 12px;
    }

    .order-now-btn:hover{
        display: block; /* Ensures it behaves like a block element */
        border-radius: 5px;
        color: white;
        background: linear-gradient(to right, #FD9325, #EE3441);
        text-decoration: none;
        width: calc(100% - 20px); /* Full width minus the 10px gap on each side */
        margin: 0 10px 0 10px; /* Center horizontally and add 10px gap on top and bottom */
        padding: 8px 35px; /* Adjust padding for better appearance */
        text-align: center; /* Center text */
        font-size: 12px;
    }

    .hero-section .home--sweet-card h5{
        font-size: 18px;
    }
    .hero-section .home--sweet-card p{
        font-size: 12px;
    }
    .hero-section .home--sweet-card{
        height: 100%;
        overflow: hidden;
    }
    .hero-section .home--sweet-card img{
        height: 100%;
        width: 100%;
        object-fit: fill;
    }
    /*Home Page End*/

    /*Contact Page Start*/
    .contact-page-section{
        padding: 50px 5px;
    }
    .contact-page-section .container{
        width: 90%;
        padding: 50px 10px;
    }
    /*Contact Page End*/

    /*Cart Page Start*/
    .cart-page .sweet-name{
        font-weight: 500;
        font-size: 16px;
        text-decoration: none;
        color: var(--dark-black);
    }
    .cart-page .cart-wight{
        font-size: 12px;
        font-weight: 500;
    }
    .cart-page .cart-price{
        font-size: 12px;
        font-weight: 500;
    }
    .cart-page .cart-price .discount-price{
        font-size: 11px;
        font-weight: 500;
        color: var(--red);
    }
    .cart-page .single-cart-total-price{
        font-size: 12px;
        font-weight: 500;
    }
    .cart-img{
        height: 70px;
        width: 70px;
        border-radius: 8px;
        margin: auto;
    }
    .cart-img img{
        height: 100%;
        width: 100%;
        object-fit: contain;
        border-radius: 8px;
    }
    /*Cart Page End*/

}

