/*All Start*/
::selection{
    color: white;
    background-color: #FF2D20;
}

/*Fonts*/
.fs-11{
    font-size: 11px!important;
}
.fs-12{
    font-size: 12px!important;
}
.fs-13{
    font-size: 13px!important;
}
.fs-14{
    font-size: 14px!important;
}
.fs-15{
    font-size: 15px!important;
}
.fs-16{
    font-size: 16px!important;
}
.fs-17{
    font-size: 17px!important;
}
.fs-18{
    font-size: 18px!important;
}
.fs-19{
    font-size: 19px!important;
}
.fs-20{
    font-size: 20px!important;
}
.fs-21{
    font-size: 21px!important;
}
.fs-22{
    font-size: 22px!important;
}
.fs-23{
    font-size: 23px!important;
}
.fs-24{
    font-size: 24px!important;
}
.fs-25{
    font-size: 25px!important;
}
.fs-26{
    font-size: 26px!important;
}
.fs-27{
    font-size: 27px!important;
}
.fs-28{
    font-size: 28px!important;
}
.fs-30{
    font-size: 30px!important;
}
.fs-32{
    font-size: 32px!important;
}
.fs-34{
    font-size: 34px!important;
}
.fs-36{
    font-size: 36px!important;
}
.fs-38{
    font-size: 38px!important;
}
.fs-40{
    font-size: 36px!important;
}
.fs-42{
    font-size: 42px!important;
}
.fs-44{
    font-size: 44px!important;
}
.fs-46{
    font-size: 46px!important;
}
.fs-48{
    font-size: 48px!important;
}
.fs-52{
    font-size: 52px!important;
}
.fs-56{
    font-size: 56px!important;
}
.fs-64{
    font-size: 64px!important;
}
.fs-72{
    font-size: 72px!important;
}

.text-justify{
    text-align: justify !important;
}

.fsw-semibold{
    font-weight: 500 !important;
}

.custom-shadow{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.background-gradient{
    background: linear-gradient(to right, #f69942, #EE3441);
}

/*All End*/

/*Header Start*/
.header-img{
    width: auto;
    height: 50px;
}

.header-menu{
    color: #0a3622;
}
.header-menu:hover{
    color: #f69942;
}

/*Header End*/

/*Footer Start*/
.footer-logo{
    width: auto;
    height: 50px;
}

#footer .social-icon ul>li{
    /*margin: 3px;*/
}

#footer .social-icon ul>li>a {
    border: 1px solid #ccc;
    color: #ffffff;
    background-color: #B77128;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

#footer .social-icon ul>li>a>i{
    /*font-size: 24px; padding: 0 0 0 8px;*/
}

@media screen and (max-width: 768px){
    .footer-social-icon{
        justify-content: center;
    }
    .footer-logo{
        margin: 20px auto;
        display: flex;
        height: 60px;
    }
}

/*Footer End*/

/*Home Page Start*/

/*Hero Banner Section Start*/

.order-now-btn{
    border-radius: 20px;
    color: white;
    background: linear-gradient(to right, #f69942, #EE3441);
    text-decoration: none;
    padding: 5px 35px 8px 35px;
}
.order-now-btn:hover{
    border-radius: 20px;
    color: white;
    background: linear-gradient(to right, #f69942, #EE3441);
    padding: 5px 35px 8px 35px;
}

.view-all-btn{
    border-radius: 20px;
    color: white;
    background: linear-gradient(to right, #f69942, #EE3441);
    text-decoration: none;
    padding: 5px 35px 8px 35px;
}
.view-all-btn:hover{
    border-radius: 20px;
    color: white;
    background: linear-gradient(to right, #f69942, #EE3441);
    padding: 5px 35px 8px 35px;
}

.hero-header-div{
    line-height: 50px;
}
.hero-header{
    font-size: 48px!important;
    font-weight: 700;
    padding: 0;
    margin: 0;
    text-align: start;
}
.hero-text{
    padding: 24px 0;
    font-size: 20px;
    font-weight: 400;
    text-align: start;
}
.sweet-list-text{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.special-sweet-card{
    padding: 20px;
}
.order-3{
    order: 1 !important;
}
.order-4{
    order: 2 !important;
}
.order-5{
    order: 1 !important;
}
.order-6{
    order: 2 !important;
}

.row-fou-div{
    padding: 0 0 0 15px;
}


@media screen and (min-width: 100px) and (max-width: 768px){

    .row-three-btn{
        text-align: center;
        margin: 20px 0 40px 0;
    }
    .row-fou-div{
        text-align: center;
        padding: 10px 20px;
    }
    .hero-header-div{
        line-height: 40px;
    }
    .hero-header{
        font-size: 36px!important;
        font-weight: 700;
        padding: 10px 20px 5px 20px;
        margin: 0;
        text-align: center;
    }
    .hero-text{
        padding: 15px 0;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        line-height: 25px;
    }
    .order-now-btn-div{
        text-align: center;
    }
    .hero-left{
        padding-top: 20px;
    }
    .order-1{
        order: 2 !important;
    }
    .order-2{
        order: 1 !important;
    }
    .order-3{
        order: 2 !important;
    }
    .order-4{
        order: 1 !important;
    }
    .order-5{
        order: 2 !important;
    }
    .order-6{
        order: 1 !important;
    }
    .sweet-list-text{
        text-align: center;
        font-size: 16px;
        font-weight: 400;
    }
    .special-sweet-card{
        margin: 15px;
    }
    .row-three-div{
        margin-top: -75px !important;
    }
    .row-six-text{
        padding: 30px 5px 0 5px ;
    }
    .row-six-text-header{
        font-size: 28px;
        text-align: center;
        line-height: 36px;
    }
    .row-six-text-body{
        font-size: 16px;
        text-align: justify !important;
    }
    .row-six-btn{
        text-align: center;
    }

}

/*Hero Banner Section End*/

/*Home Page End*/

/*Login & Signup Page start*/

/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*    font-family: "Montserrat", sans-serif;*/
/*}*/

/*Login & Signup Page End*/


/*Contact Page Start*/

.contact-page-section {
    background: linear-gradient(90deg, #f69942 0%, rgba(238, 52, 65) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size:10px;
    height: auto;
    padding: 50px;
}

.contact-page-section .container {
    background-color: rgb(255, 249, 249);
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 60%;
    max-width: 100%;
    height: 80%;
    padding: 50px 20px;
}

.contact-page-section .form-container {
    display:flex;
}

.contact-page-section .right-container {
    display:flex;
    flex:1;
    background-color: white;
    justify-content:center;
    align-items:center;
}

.contact-page-section .left-container {
    display:flex;
    flex:1;
    justify-content:center;
    align-items:center;
    color: black;
    background-color: transparent;
}

.contact-page-section .left-container p {
    font-size:0.9rem;
}

.contact-page-section .left-container p {
    font-size:0.9rem;
}

.contact-page-section .right-inner-container {
    text-align:center;
}

.contact-page-section .left-inner-container{
    height: 100%;
    width: 80%;
}

.contact-page-section .left-inner-container h2 {
    text-align: center;
    line-height:22px;
    padding: 10px;
}

.contact-page-section .left-inner-container .contact-infos{
    text-align: start;
}

.contact-page-section input, textarea {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    font-size:0.8rem;
}

.contact-page-section input:focus, textarea:focus{
    outline:1px solid red;
}

.contact-page-section button {
    border-radius: 20px;
    border: none;
    background: linear-gradient(90deg, #f69942 0%, rgba(238, 52, 65) 100%);
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor:pointer;
}

.contact-page-section button:hover {
    opacity:0.7;
}
@media only screen and (max-width: 600px) {
    .contact-page-section .left-container{
        display: none;
    }
    .contact-page-section .lg-view {
        display:none;
    }
}

@media only screen and (min-width: 600px) {
    .contact-page-section .sm-view {
        display:none;
    }
}

.contact-page-section form p {
    text-align:left;
}

/*Top Section*/

.contact-page-section .sec-title-style1 {
    position: relative;
    display: block;
    margin-top: -9px;
    padding-bottom: 50px;
}
.contact-page-section .sec-title-style1.max-width{
    position: relative;
    display: block;
    max-width: 770px;
    margin: -9px auto 0;
    padding-bottom: 52px;
}
.contact-page-section .sec-title-style1 {
    padding-bottom: 42px;
}
.contact-page-section .sec-title-style1 .title {
    position: relative;
    display: block;
    color: #131313;
    font-size: 36px;
    line-height: 46px;
    font-weight: 700;
    text-transform: uppercase;
}
.contact-page-section .sec-title-style1 .title.clr-white{
    color: #ffffff;
}
.contact-page-section .sec-title-style1 .decor {
    position: relative;
    display: block;
    width: 70px;
    height: 5px;
    margin: 19px 0 0;
}
.contact-page-section .sec-title-style1 .decor:before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: #f69942;
    border-radius: 50%;
    content: "";
}
.contact-page-section .sec-title-style1 .decor:after{
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: #f69942;
    border-radius: 50%;
    content: "";
}
.contact-page-section .sec-title-style1 .decor span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 1px;
    background: #f69942;
    margin: 2px 0;
}


.contact-page-section .sec-title-style1 .text{
    position: relative;
    display: block;
    margin: 7px 0 0;
}
.contact-page-section .sec-title-style1 .text p{
    position: relative;
    display: inline-block;
    padding: 0 15px;
    color: #131313;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}
.contact-page-section .sec-title-style1 .text.clr-yellow p{
    color: #f69942;
}
.contact-page-section .sec-title-style1 .text .decor-left{
    position: relative;
    top: -2px;
    display: inline-block;
    width: 70px;
    height: 5px;
    background: transparent;
}
.contact-page-section .sec-title-style1 .text .decor-left span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 1px;
    background: #f69942;
    content: "";
    margin: 2px 0;
}
.contact-page-section .sec-title-style1 .text .decor-left:before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: #f69942;
    border-radius: 50%;
    content: "";
}
.contact-page-section .sec-title-style1 .text .decor-left:after{
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: #f69942;
    border-radius: 50%;
    content: "";
}

.contact-page-section .sec-title-style1 .text .decor-right{
    position: relative;
    top: -2px;
    display: inline-block;
    width: 70px;
    height: 5px;
    background: transparent;
}
.contact-page-section .sec-title-style1 .text .decor-right span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 1px;
    background: #f69942;
    content: "";
    margin: 2px 0;
}
.contact-page-section .sec-title-style1 .text .decor-right:before{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: #f69942;
    border-radius: 50%;
    content: "";
}
.contact-page-section .sec-title-style1 .text .decor-right:after{
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    width: 5px;
    height: 5px;
    background: #f69942;
    border-radius: 50%;
    content: "";
}

.contact-page-section .sec-title-style1 .bottom-text{
    position: relative;
    display: block;
    padding-top: 16px;
}
.contact-page-section .sec-title-style1 .bottom-text p{
    color: black;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    margin: 0;
}
.contact-page-section .sec-title-style1 .bottom-text.clr-gray p{
    color: black;
}

/*Contact Page End*/
